%h1.title BackTracks

%h3.description A weekly email reminding you of the music that shaped your life. Powered by last.fm.

.act-now
	%a.pure-button.pure-button-primary{:href => "/sign_in"} Sign in with Twitter
